.about {
  &__header {
    margin-top: 200px;
    @media @bw768 {
      margin-top: 130px;
    }
    @media @bw500 {
      margin-top: 100px;
    }
  }
  &__container {
    .container;
  }
  &__block1 {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas:
      "title title"
      "text text";
    gap: 50px 60px;
    margin-top: 100px;
    @media @bw1340 {

    }
    @media @bw768 {
      margin-top: 80px;
    }
    @media @bw500 {
      margin-top: 50px;
      gap: 0px;
    }
  }
  &__block2 {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 50px 60px;
    margin-top: 100px;
    grid-template-areas:
      "pic1 pic2"
      "title pic2"
      "text text";
    @media @bw768 {
      grid-template-columns: 1fr 320px;
      grid-template-areas:
        "pic1 pic1"
        "title pic2"
        "text pic2";
      gap: 52px 27px;
    }
    @media @bw500 {
      grid-template-areas:
        "pic1"
        "title"
        "text"
        "pic2";
      grid-template-columns: 1fr;
      grid-template-rows: 246px 80px 226px 1fr;
      margin-top: 60px;
      gap: 1px;
    }
  }
  &__block2-picture1 {
    grid-area: pic1;
    @media @bw500 {
      height: 186px;
      width: 280px;
    }
  }
  &__subtitle {
    grid-area: title;
    font-size: 44px;
    @media @bw768 {
      font-size: 26px;
      font-weight: 700;
    }
    @media @bw500 {
      font-size: 18px;
    }
  }
  &__text {
    grid-area: text;
    margin: 0;
    margin-left: auto;
    max-width: 870px;
    @media @bw768 {
      font-size: 16px;
      margin-left: 80px;
    }
    @media @bw500 {
      margin-left: 0px;
      margin-right: 20px;
      max-width: 500px;
    }
    @media @bw320 {
      max-width: 280px;
    }
  }
  &__br {
    display: none;
    @media @bw768 {
      display: inline;
    }
    @media @bw500 {
      display: none;
    }
  }

  &__block2-picture2 {
    grid-area: pic2;
    align-self: flex-end;
    @media @bw500 {
      height: 186px;
      width: 236px;
      justify-self: end;
    }
  }
  &__block3 {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 68px 75px 60px;
    gap: 80px 60px;
    margin-top: 100px;
    grid-template-areas:
      "pic3 text"
      "pic3 text"
      "pic3 link";
    @media @bw768 {
      grid-template-areas:
        "pic3 pic3"
        "text link";
      grid-template-rows: 291px 66px;
      grid-template-columns: 1fr 262px;
    }
    @media @bw500 {
      grid-template-areas:
        "pic3"
        "text"
        "link";
      grid-template-columns: 1fr;
      gap: 0px;
      grid-template-rows: 166px 96px 90px;
      margin-top: 200px;
    }
  }
  &__block3-content {
    height: 100%;
  }
  &__block3-picture {
    box-sizing: border-box;
    grid-area: pic3;
    position: relative;
    padding: 18px 19px 0 49px;
    display: block;
    max-width: 930px;
    width: 100%;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 64.7%;
      background-color: @red;
    }
    &::after {
      display: block;
      width: 100%;
      content: "";
      padding-top: 40.86%;
    }
    @media @bw500 {
      height: 116px;
      width: 280px;
    }
  }
  &__block3-img {
    position: absolute;
    top: 19px;
    left: 49px;
    width: calc(100% - 57px);
    object-fit: contain;
    @media @bw768 {
      width: calc(100% - 36px);
      left: 29px;
      top: 14px;
    }
    @media @bw500 {
      width: calc(100% - 13px);
      left: 11px;
      top: 5px;
    }
  }
  &__block3-link {
    grid-area: link;
    height: 60px;
    align-self: flex-end;
    display: flex;
    text-decoration: none;
    transition: currentColor 0.2s, color 0.2s;
    &:hover,
    &:active {
      currentcolor: @red;
      color: @red;
    }
  }
  &__block3-text {
    grid-area: text;
    align-self: flex-end;
    font-weight: 400px;
    font-size: 18px;
    margin: 0;
    max-width: 345px;
    margin-bottom: 0px;
    @media @bw768 {
      font-size: 16px;
    }
  }
  &__block3-link-text {
    align-self: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    @media @bw768 {
      font-size: 16px;
    }
    @media @bw500 {
      font-size: 14px;
    }
  }
  &__block3-link-arrow {
    margin-right: 0px;
    margin-left: auto;
    @media @bw500 {
      height: 40px;
      width: 67px;
    }
  }
}
