.listing {
    .container;
    display: flex;
    flex-direction: column;
    &__article-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__events-list {
        display: flex;
        gap: 60px;
        flex-wrap: wrap;
        @media @bw1660 {
            gap: 40px;
        }
        @media @bw1020 {
            gap: 30px;
        }
    }
    &__events-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin: -50px auto 100px;
        font-weight: 600;
        color: @black;
        text-decoration: none;
        transition: color 0.2s;
        &:hover {
            cursor: pointer;
            color: @red;
        }
    }
    &__events-link-arrow {
        @media @bw500 {
            height: 67px;
            width: 40px;
          }
    }
    &__description {
        text-wrap: wrap;
        margin-left: 250px;
        margin-right: 760px;
        margin-bottom: 60px;
        font-weight: 400;
        @media @bw1340 {
            margin-left: 40px;
            margin-right: 741px;;
        }
        @media @bw768 {
            margin-left: 30px;
            margin-right: 30px;
        }
        @media @bw500 {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    &__event-card {
        width: calc(33.333% - 40px);
        margin: 0 0 60px;
        @media @bw1660 {
            width: calc(33.3333% - 26.666px);
        }
        @media @bw1020 {
            width: calc(50% - 25px);
        }
        @media @bw650 {
            width: 100%;
        }
    }
    &__link {
        margin-top: 85px;
        margin-left: auto;
    }
    &__more-btn {
        margin: 70px auto 0;
    }
    &__i-want {
        margin-top: 50px;
    }
    &__bottom {
        .container;
        margin-top: 100px;
        width: 100%;
        display: flex;
        gap: 67px;
        @media @bw768{
            flex-wrap: wrap;
            gap: 100px;
            justify-content: center;
        }
        @media @bw500{
            gap: 40px;
        }

    }
    &__bottom-element {
        display: flex;
        flex-direction: column;
        width: 401px;
        align-items: center;
        @media @bw768{
            width: 280px;
        }
        
    }
    &__bottom-element-title {
        font-size: 20px;
        font-weight: 600;
        margin-top: 40px;
        @media @bw768{
            font-size: 18px;
        }
        @media @bw500{
            font-size: 14px;
        }
    }
    &__bottom-element-desc {
        text-align: center;
        @media @bw768{
            font-size: 14px;
        }
        @media @bw500{
            font-size: 13px;
        }
    }
    &__bottom-element-desc-link {
        text-decoration: none;
        color: @black;
        transition: color 0.2s;
        &:hover {
            @media(hover:hover){
                color: @red;
            }
        }
    }
    &__bottom-element-icon {
        @media @bw500{
            display: none;
        }
    }
    &__bottom-element-icon-small {
        display: none;
        @media @bw500{
            display: block;
        }
    }
    &__i-want-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        @media @bw768 {
            margin-top: 73px;
        }
        @media @bw500 {
            margin-top: 40px;
        }
    }
    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: @black;
        font-family: @font2;
        text-align: center;
        font-size: 22px;
        margin-bottom: 46px;
        font-weight: 400;
        @media @bw768 {
            font-size: 16px;
            font-weight: 500;
        }
        @media @bw500 {
            font-size: 13px;
            font-weight: 400;
        }
    }
    &__btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @media @bw500 {
            flex-direction: column-reverse;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    &__btn {
        width: 100%;
    }
    &__empty-block {
        width: 106px;
        @media @bw1340 {
            width: 95px;;
        }
        @media @bw768 {
            width: 56px;
        }
        @media @bw500 {
            height: 25px;
        }
    }
}