.reserve {
    .container;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 405px 1fr;
    gap: 65px 11%;
    width: 100%;
    grid-template-areas: 
    "check scheme"
    "order legend";
    @media @bw1340 {
        gap: 65px 1%;
    }
    @media @bw768 {
        grid-template-areas: 
            "scheme scheme"
            "check legend"
            "check order";
        grid-template-columns: 192px 1fr;
    }
    @media @bw500 {
        grid-template-areas: 
            "scheme"
            "legend"
            "check"
            "order";
            grid-template-columns: 1fr;
    }
    &__scene {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        background-color: @black;
        text-transform: uppercase;
        font-family: @font2;
        color: @white;
        width: 162px;
        height: 34px;
        font-size: 16px !important;
        padding: 6px;
        font-family: @font1;
        margin-bottom: 40px !important;
        align-self: center;
        @media @bw768 {
            font-size: 11px !important;
            font-weight: 700;
            width: 130px;
            height: 27px;
        }
    }
    &__header-h5 {
        font-weight: 700;
        font-size: 18px;
        @media @bw768 {
            font-size: 16px;
        }
    }

    &__check {
        grid-area: check;
    }
    &__check-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__check-label {
        font-size: 16px;
        font-weight: 400;
        @media @bw500 {
            font-size: 14px;
        }
    }
    &__scheme {
        display: flex;
        flex-direction: column;
        grid-area: scheme;
    }
    &__scheme-map {
        width: 780px;
        height: 399px;
        @media @bw768 {
            width: 628px;
            height: 322px;
        }
        @media @bw500 {
            width: 100%;
            height: 100%;
        }
    }
    &__header {
        align-self: center;
        margin-bottom: 40px;
    }
    &__order {
        grid-area: order;
        display: flex;
        flex-direction: column;
    }
    &__order-items {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__order-item {
        display: flex;
        flex-direction: row;
    }
    &__order-item-amount {
        @media @bw500 {
            font-size: 14px;
        }
    }
    &__order-item-sum {
        margin-left: auto;
        font-size: 18px;
        font-weight: 600;
        @media @bw768 {
            font-size: 16px;
        }
    }
    &__order-sum-wrapper {
        display: flex;
        flex-direction: row;
        font-weight: 600;
        font-size: 20px;
        gap: 33.33px;
        margin: 25px auto 53px;
        @media @bw500 {
            font-size: 18px;
        }
    }
    &__order-sum-buy {
        color: @white !important;
    }
    &__legend {
        grid-area: legend;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media @bw500 {
            align-items: flex-start;
        }
    }
    &__legend-lines {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__legend-line {
        display: inline-flex;
        flex-direction: row;
        gap: 9px;
        justify-content: flex-end;
        @media @bw500 {
            justify-content: flex-start;
        }
    }
    &__legend-text {
        @media @bw500 {
            font-size: 14px;
        }
    }
    &__legend-box-red {
        display: block;
        width: 24px;
        height: 24px;
        background-color: @red_dark;
    }
    &__legend-box-black {
        display: block;
        width: 24px;
        height: 24px;
        background-color: @black;
    }
    &__legend-circle-black {
        width: 24px;
        height: 24px;
        border: 1px solid @black;
        border-radius: 50%;
        margin-right: -20px;
    }
    &__legend-circle-red {
        width: 24px;
        height: 24px;
        border: 1px solid @red_dark;
        border-radius: 50%;
    }
    &__legend-circle {
        width: 24px;
        height: 24px;
        background-color: @gray_dark;
        border-radius: 50%;
    }
}